# Rust (Cargo)
/target/
**/*.rs.bk
Cargo.lock

# Node.js
/node_modules/
dist/
dist-ssr/
*.local

# Tauri
mise/src-tauri/target/
mise/src-tauri/gen/
mise/src-tauri/icons/

# Python
__pycache__
venv

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/

# Environment Variables
.env
*.env