# Rust (Cargo)
/target/
**/*.rs.bk
Cargo.lock

# Node.js
/node_modules/
dist/
dist-ssr/
*.local

# Tauri
recipe_app/src-tauri/target/
recipe_app/src-tauri/gen/
recipe_app/src-tauri/icons/
recipe_app/src-tauri/.env

# Python
__pycache__
venv

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp